{% extends "blog/index.html" %}

{% block content %}
{% load static %}

<form>
    <label>Serial
        <input type="text" name="serial" value={{info.serial}}>
    </label>
    <label>sensor
        <input type="text" name="sensor" value={{info.sensor}}>
    </label>
    <label>Serial
        <input type="text" name="serial" value={{info.serial}}>
    </label>
    <label>Tag Name
        <input type="text" name="tag" value={{info.tag_name}}>
    </label>
    <label>Latitude
        <input type="text" name="lat" value={{info.latitude}}>
    </label>
    <label>Longitude
        <input type="text" name="long" value={{info.longitude}}>
    </label>
    <label>Location
        <input type="text" name="loc" value={{info.location_name}}>
    </label>
    <label>Address
        <input type="text" name="addr" value={{info.address}}>
    </label>
    <label>Premise
        <input type="text" name="prem" value={{info.premise}}>
    </label>

</form>

{% endblock content %}
