{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>App Cloud Platform</title>
    <!-- Custom CSS -->
    <link href="{%  static 'blog/assets/extra-libs/c3/c3.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/libs/chartist/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <link href="{% static 'blog/css/bootstrap.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<!-- srtDash CSS -->
<link rel="shortcut icon" type="image/png" href="{%  static 'blog/assetsLogin_user/images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/typography.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/default-css.css' %}">

    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/responsive.css' %}">

    <!-- Custom CSS -->
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/spinner.css' %}" rel="stylesheet">

    <link href="{% static 'blog/css/nouislider.css' %}" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="{%  static 'blog/assetsLogin_user/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <script src="{%  static 'blog/nouislider.js' %}"></script>


</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
           <nav class="navbar top-navbar navbar-expand navbar-light" style="border-bottom: 1px #00000014 solid;">


                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!--<div class="navbar-collapse collapse" id="navbarSupportedContent">-->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <!-- Notification -->
                        <!-- End Notification -->
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ==============================================================
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="settings" class="svg-icon"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li> -->

                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right mr-3 pr-1">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ==============================================================
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                            type="search" placeholder="Search" aria-label="Search">
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li>-->
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'blog/avatar.png' %}" alt="user" class="rounded-circle"
                                    width="40">
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hello,</span> <span
                                        class="text-dark"> {{ user.get_username }}</span> <i data-feather="chevron-down"
                                        class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="#" onclick="profileExec();"><i data-feather="user"
                                        class="svg-icon mr-2 ml-1"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="#" onclick="$('#changePasswordModal').modal('show');"><i data-feather="credit-card"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout"><i data-feather="power"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Logout</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
             <!--</div>-->
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                                <div class="row">
                                    <div class="col-7 align-self-center">
                                        <div class="d-flex align-items-center">
                                            <nav aria-label="breadcrumb">
                                                <ol  id="breadcrumbConfig" class="breadcrumb m-0 p-0">
                                                    <li class="breadcrumb-item" aria-current="page"><a href="/">Dashboard</a>
                                                    </li>
                                                    <li class="breadcrumb-item active" onclick="mainConfigSection()" aria-current="page"><a href="#">Settings</a>
                                                    </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-center">
                                        <div class="customize-input float-right">
                                            <div id="currentDate" class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius"></div>
                                        </div>
                                    </div>
                                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
               <div style="text-align:center; padding-top:20px;">
                  <h2 id="tagname_header"></h2>
              </div>
                <div id="configSpinner" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <div id="configContainer" class="col-lg-6 mt-5" style="display:none;">
                            <div class="d-md-flex" >
                                    <div class="nav flex-column nav-pills mr-4 mb-3 mb-sm-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link active" id="v-pills-alarmProp-tab" data-toggle="pill" href="#v-pills-alarmProp" role="tab" aria-controls="v-pills-alarmProp" aria-selected="true">Alarm</a>
                                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                                        <a class="nav-link" id="v-pills-title-tab" data-toggle="pill" href="#v-pills-title" role="tab" aria-controls="v-pills-title" aria-selected="false">Title</a>
                                        <a class="nav-link" id="v-pills-delete-tab" data-toggle="pill" href="#v-pills-delete" role="tab" aria-controls="v-pills-delete" aria-selected="false">Remove</a>
                                    </div>
                                    <div class="tab-content" id="v-pills-tabContent" style="width:100%">
                                        <div class="tab-pane fade show active" id="v-pills-alarmProp" role="tabpanel" aria-labelledby="v-pills-alarmProp-tab">
                                                           <div class="main-content-inner" id="alarmProp">



                                                           </div>

                                                           <div class="alert alert-success" id="alertSuccesAlarm" role="alert" style="display:none;">

                                                            </div>
                                                            <div class="alert alert-danger" id="alertFailAlarm" role="alert" style="display:none;">

                                                            </div>

                                                           <div class="btn-group">
                                                                <button id="save" type="button" onclick="saveAlarm();" class="btn btn-primary" disabled>Save</button>
                                                                <button id="clear" type="button" onclick="clearAlarm();"class="btn btn-secondary" disabled>Clear</button>

                                                            </div>
                                        </div>




                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                            <div class="col-12">
                                                <div class="card mt-5" style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));">
                                                    <div class="card-body" style="margin-top: 10px;">
                                                        <h4 class="header-title">Node Information</h4>
                                                        <form class="needs-validation" novalidate="">
                                                            <div class="form-row">
                                                                <div class="col-md-4 mb-3">
                                                                    <label for="serial">Serial</label>
                                                                    <input type="text" class="form-control" name="serial" id="serial" placeholder="Serial"  readonly>

                                                                </div>
                                                                <div class="col-md-4 mb-3">
                                                                    <label for="sensor">Sensor</label>
                                                                    <input type="text" class="form-control" name="sensor" id="sensor" placeholder="Sensor"  readonly>

                                                                </div>
                                                                <div class="col-md-4 mb-3">
                                                                    <label for="tagname">Tag name</label>
                                                                    <input type="text" class="form-control" name="tagname" id="tagname" placeholder="Tag name" aria-describedby="inputGroupPrepend" required="">


                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="locationname">Location name</label>
                                                                    <input type="text" class="form-control" name="locationname" id="locationname" placeholder="City" required="">

                                                                </div>
                                                                <div class="col-md-3 mb-3">
                                                                    <label for="longitude">Longitude</label>
                                                                    <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Long" required="">
                                                                    <div class="invalid-feedback">
                                                                        Please provide a valid state.
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 mb-3">
                                                                    <label for="latitude">Latitude</label>
                                                                    <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Lat" required="">

                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="address">Address</label>
                                                                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" required="">

                                                                </div>
                                                                <div class="col-md-3 mb-3">
                                                                    <label for="premise">Premise</label>
                                                                    <select class="form-control" id="premise" name="premise" placeholder="premise" required="">
                                                                        <option value="">Select...</option>
                                                                        <option value="Commercial">commercial</option>
                                                                        <option value="Industrial">industrial</option>
                                                                        <option value="Residential">residential</option>
                                                                    </select>

                                                                </div>

                                                            </div>

                                                        </form>
                                                        <button class="btn btn-primary"  id="saveNodeProfile" onclick="saveNodeProfile();">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-title" role="tabpanel" aria-labelledby="v-pills-title-tab">
                                                           <div class="font-color:black; font-size:5px;">*Click on title to edit</div>
                                                           <div class="main-content-inner" id="chartTitle">



                                                           </div>

                                        </div>
                                        <div class="tab-pane fade" id="v-pills-delete" role="tabpanel" aria-labelledby="v-pills-delete-tab">
                                                           <div class="main-content-inner" id="removeNode">
                                                                <div class="card mx-auto" style="display:block; width:300px;">
                                                                    <div id="removeNodeHeader" class="card-header" style="text-align:center;"></div>
                                                                    <div class="card-body"  style="text-align:center; padding-top:25px !important;">
                                                                        <label for="username">Username</label>
                                                                        <input type="text" name="username">
                                                                        <label for="password">Password</label>
                                                                        <input type="password" name="password">
                                                                        <button id="removeNodeButton" onclick="removeNode();" class="btn btn-danger" style="margin:auto; margin-top: 10px; display:block; width:90%;">Remove Node</button>
                                                                    </div>
                                                                </div>


                                                           </div>

                                        </div>
                                    </div>
                                </div>

                    </div>





            </div>


            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                All Rights Reserved by Cloudatik. Designed</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- Modal -->
    <div class="modal fade" id="summary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Summary</h5><br>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="summaryModal" class="modal-body">
            <table id="summaryTable" class="table">
                 <thead>
                          <tr>
                            <th scope="col">Label</th>
                            <th scope="col">Enabled</th>
                            <th scope="col">Plot Limit</th>
                            <th scope="col">Limit Low</th>
                            <th scope="col">Limit High</th>
                          </tr>
                 </thead>
                 <tbody id="bodySummaryTable">

                 </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <div id="modalSpinner" class=""><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="confirmAlarm" type="button" onclick="submitToSaveAlarm();" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>

  <!-- Modal -->
    <div class="modal fade" id="myProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">My Profile</h5><br>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="profileModal" class="modal-body">
            <div id="profileCardSpinner" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

                    <div id="profileCard">

                    </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- EditModal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalEdit" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalEdit">Edit Profile</h5><br>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="profileModalEdit" class="modal-body">
                    <div id="editProfileCard">
                        <form id="editProfileForm">
                            <div class="row">
                                <label for="username" class="col-3">Username</label>
                                <span id="userNameEdit" style="color:black;"></span>
                            </div>
                            <div class="row">
                                <label for="name" class="col-3">Name</label>
                                <input type="text" class="col-6" name="name" required >
                            </div>
                            <div class="row">
                                <label for="company" class="col-3" class="">Company</label>
                                <input type="text" class="col-6" name="company" required>
                            </div>
                            <div class="row">
                                <label for="email" class="col-3" class="">Email</label>
                                <input type="text" class="col-6" name="email" required>
                            </div>
                            <div class="row">
                                <label for="phone" class="col-3" class="">Phone</label>
                                <input type="text" class="col-6" name="phone" required>
                            </div>

                        </form>
                    </div>
        </div>
          <div class="modal-footer">
            <div id="spinnerProfileSave" class=""><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div id="savedProfileSuccess" style="display:none;" class="alert alert-success" role="alert"></div>
            <div id="savedProfileFail" style="display:none;" class="alert alert-danger" role="alert"></div>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="saveProfile" onclick="saveProfile();" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- EditModal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalEdit" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changePasswordTitle">Change Password</h5><br>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="changePassword" class="modal-body">
                    <div id="pass">
                        <form id="formChangePass">
                            <div class="row">
                                <label for="oldPass" class="col-4">Old</label>
                                <input type="password" class="col-6" name="oldPass">
                            </div>
                            <div class="row">
                                <label for="newPass" class="col-4">New</label>
                                <input type="password" class="col-6" name="newPass">
                            </div>
                            <div class="row">
                                <label for="confirmPass" class="col-4" class="">Confirm</label>
                                <input type="password" class="col-6" name="confirmPass">
                            </div>

                        </form>
                    </div>
        </div>
          <div class="modal-footer">
            <div id="savedPassSuccess" style="display:none;" class="alert alert-success" role="alert"></div>
            <div id="savedPassFail" style="display:none;" class="alert alert-danger" role="alert"></div>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="savePass" onclick="savePass();" class="btn btn-primary" disabled>Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'blog/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'blog/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'blog/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="{% static 'blog/js/app-style-switcher.js' %}"></script>
    <script src="{% static 'blog/js/feather.min.js' %}"></script>
    <script src="{% static 'blog/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'blog/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <script src="{% static 'blog/assets/extra-libs/c3/d3.min.js' %}"></script>
    <script src="{% static 'blog/assets/extra-libs/c3/c3.min.js' %}"></script>
    <script src="{% static 'blog/assets/libs/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'blog/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'blog/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'blog/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'blog/js/pages/dashboards/dashboard1.min.js' %}"></script>
    <script src="{% static 'blog/js/steelseries.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script src="{%  static 'blog/assetsLogin_user/js/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/metisMenu.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/jquery.slicknav.min.js' %}"></script>


    <!-- others plugins -->
    <script src="{%  static 'blog/assetsLogin_user/js/plugins.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/scripts.js' %}"></script>

    <script src="{%  static 'blog/config.js' %}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
    var device_id = '{{device_id}}';
    var username = '{{ user.get_username }}';
    window.profile = {};
            $(document).ready(function(){

            document.getElementById('currentDate').innerHTML = moment().format('MMM DD');

          });



</script>


<script type="text/javascript">
    //Profile request and store
function profileExec(){
    $('#myProfile').modal('show');

    if(Object.keys(profile).length === 0){
        //ajax request profile
        $.ajax({
                type: "GET",
                url: 'https://api.cl-ds.com/getUserInfo/' + username + '/',
                headers: {"Authorization": "Token 62990ac3b609e5601a678c1e133416e6da7f10db"},
                //data: "check",
                success: function(data){
                    var spinnerNode = document.getElementById('profileCardSpinner');
                    spinnerNode.classList.remove('lds-roller');

                    profile = data;
                    var parent = document.getElementById('profileCard');

                    var usernameProfile = data.username;
                    var fullname = data.fullname;
                    var company = data.company;
                    var email = data.email;
                    var phone = data.phone;

                    var child = `<div class="cardProfile">

                                      <h1>${fullname}</h1>
                                      <p class="titleProfile">Company: ${company}</p>
                                      <p>Username: ${usernameProfile}</p>
                                      <p>Email: ${email}</p>
                                      <p>Phone: ${phone}</p>

                                      <p><button id="editProfile" onclick="editProfile();" class="btn btn-primary">Edit Profile</button></p>
                                    </div>`;
                    parent.innerHTML = child;
                }
            });
    }else{
        var spinnerNode = document.getElementById('profileCardSpinner');
                    spinnerNode.classList.remove('lds-roller');

                    var parent = document.getElementById('profileCard');

                    var usernameProfile = profile.username;
                    var fullname = profile.fullname;
                    var company = profile.company;
                    var email = profile.email;
                    var phone = profile.phone;

                    var child = `<div class="cardProfile">

                                      <h1>${fullname}</h1>
                                      <p class="titleProfile">Company: ${company}</p>
                                      <p>Username: ${usernameProfile}</p>
                                      <p>Email: ${email}</p>
                                      <p>Phone: ${phone}</p>

                                      <p><button id="editProfile" onclick="editProfile();" class="btn btn-primary">Edit Profile</button></p>
                                    </div>`;
                    parent.innerHTML = child;
    }
}

function editProfile(){
    $('#myProfile').modal('hide');

    $('#editProfileModal').modal('show')

    $('#savedProfileSuccess').html('');
    $('#savedProfileFail').html('');
    $('#savedProfileSuccess').removeAttr("style").hide();
    $('#savedProfileFail').removeAttr("style").hide();
    $("#saveProfile").html('Save');
    $("#saveProfile").attr("disabled", false);

    $('#userNameEdit').html();
    $('#userNameEdit').html(profile.username);
    $('[name=name]').val(profile.fullname);
    $('[name=company]').val(profile.company);
    $('[name=email]').val(profile.email);
    $('[name=phone]').val(profile.phone);

}

function saveProfile(){
    $('#savedProfileSuccess').html('');
    $('#savedProfileFail').html('');
    $('#savedProfileSuccess').removeAttr("style").hide();
    $('#savedProfileFail').removeAttr("style").hide();
    $("#saveProfile").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
    $("#saveProfile").attr("disabled", true);

    var fullname = $('[name=name]').val();
    var username = profile.username;
    var company = $('[name=company]').val();
    var email = $('[name=email]').val();
    var phone = $('[name=phone]').val();

   var data = {"username": username, "company":company, "fullname":fullname, "email":email, "phone":phone};

    $.ajax({
                type: "PUT",
                url: 'https://api.cl-ds.com/saveUserInfo/' + username + '/?format=json',
                headers: {"Authorization": "Token 62990ac3b609e5601a678c1e133416e6da7f10db"},
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(resp){
                    if(resp.success){
                        $("#saveProfile").html('Save');
                        $('#savedProfileSuccess').show();
                        $('#savedProfileSuccess').html('Saved successfully!');
                        $("#saveProfile").removeAttr("disabled");

                        var parent = document.getElementById('profileCard');
                        parent.innerHTML = '';
                        var spinnerNode = document.getElementById('profileCardSpinner');
                        spinnerNode.classList.add('lds-roller');
                        profile = {};

                    }else{
                        $('#savedProfileFail').show();
                        $('#savedProfileFail').html('Failed to save, try again later!');
                    }
                }
            });

}
</script>


</body>

</html>
