{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>App Cloud Platform</title>
    <!-- Custom CSS -->
    <link href="{%  static 'blog/assets/extra-libs/c3/c3.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/libs/chartist/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <link href="{% static 'blog/css/bootstrap.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<!-- srtDash CSS -->
<link rel="shortcut icon" type="image/png" href="{%  static 'blog/assetsLogin_user/images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/typography.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/default-css.css' %}">

    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/responsive.css' %}">

    <!-- Custom CSS -->
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/spinner.css' %}" rel="stylesheet">

    <link href="{% static 'blog/css/rSlider.css' %}" rel="stylesheet">

    <script src="{%  static 'blog/assetsLogin_user/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <script src="{%  static 'blog/rSlider.js' %}"></script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <!-- Notification -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle pl-md-3 position-relative" href="javascript:void(0)"
                                id="bell" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span><i data-feather="bell" class="svg-icon"></i></span>
                                <span class="badge badge-primary notify-no rounded-circle">5</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left mailbox animated bounceInDown">
                                <ul class="list-style-none">
                                    <li>
                                        <div class="message-center notifications position-relative">
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                                class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <div class="btn btn-warning rounded-circle btn-circle"><i
                                                        data-feather="alert-triangle" class="text-white"></i></div>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Compressor Utilization</h6>
                                                    <span class="font-12 text-nowrap d-block text-muted">Voltage</span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                                class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <span class="btn btn-warning text-white rounded-circle btn-circle"><i
                                                        data-feather="alert-triangle" class="text-white"></i></span>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Compressor Utilization</h6>
                                                    <span
                                                        class="font-12 text-nowrap d-block text-muted text-truncate">Current</span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                                class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <span class="btn btn-info rounded-circle btn-circle"><i
                                                        data-feather="alert-triangle" class="text-white"></i></span>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Control Box Env</h6>
                                                    <span
                                                        class="font-12 text-nowrap d-block text-muted text-truncate">Temperature</span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:08 AM</span>
                                                </div>
                                            </a>

                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link pt-3 text-center text-dark" href="javascript:void(0);">
                                            <strong>Remove all notifications</strong>

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Notification -->
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="settings" class="svg-icon"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                            type="search" placeholder="Search" aria-label="Search">
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hello,</span> <span
                                        class="text-dark">Bekzat</span> <i data-feather="chevron-down"
                                        class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="#"><i data-feather="user"
                                        class="svg-icon mr-2 ml-1"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="#"><i data-feather="credit-card"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout"><i data-feather="power"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Logout</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                                <div class="row">
                                    <div class="col-7 align-self-center">
                                        <div class="d-flex align-items-center">
                                            <nav aria-label="breadcrumb">
                                                <ol  id="breadcrumbConfig" class="breadcrumb m-0 p-0">
                                                    <li class="breadcrumb-item" aria-current="page"><a href="/">Dashboard</a>
                                                    </li>
                                                    <li class="breadcrumb-item active" onclick="mainConfigSection()" aria-current="page"><a href="#">Settings</a>
                                                    </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-center">
                                        <div class="customize-input float-right">
                                            <div class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">Jul 07</div>
                                        </div>
                                    </div>
                                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                     <div class="col-lg-6 mt-5">
                                <div class="d-md-flex">
                                    <div class="nav flex-column nav-pills mr-4 mb-3 mb-sm-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link active" id="v-pills-alarmProp-tab" data-toggle="pill" href="#v-pills-alarmProp" role="tab" aria-controls="v-pills-alarmProp" aria-selected="true">Alarm</a>
                                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                                    </div>
                                    <div class="tab-content" id="v-pills-tabContent" style="width:100%">
                                        <div class="tab-pane fade show active" id="v-pills-alarmProp" role="tabpanel" aria-labelledby="v-pills-alarmProp-tab">
                                                           <div class="main-content-inner">

                                                                            <div class="card" style="margin-bottom: 50px;">
                                                                                <div class="card-header">
                                                                                    <strong class="card-title">Chart Title</strong>
                                                                                </div>
                                                                                <div class="card-body">
                                                                                    <div class="form-group" style="margin-top: 40px;">
                                                                                        <input type="text" id="slider" class="slider">
                                                                                    </div>
                                                                                </div>
                                                                            </div>



                                                                            <div class="card" style="margin-bottom: 50px;">
                                                                                <div class="card-header">
                                                                                    <strong class="card-title">Chart Title</strong>
                                                                                </div>
                                                                                <div class="card-body">
                                                                                    <div class="form-group" style="margin-top: 40px;">
                                                                                        <input type="text" id="slider2" class="slider">
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                           </div>
                                        </div>




                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                            <div class="col-12">
                                                <div class="card mt-5">
                                                    <div class="card-body" style="margin-top: 10px;">
                                                        <h4 class="header-title">Node Information</h4>
                                                        <form class="needs-validation" novalidate="">
                                                            <div class="form-row">
                                                                <div class="col-md-4 mb-3">
                                                                    <label for="validationCustom01">Serial</label>
                                                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Serial"  required="">

                                                                </div>
                                                                <div class="col-md-4 mb-3">
                                                                    <label for="validationCustom02">Sensor</label>
                                                                    <input type="text" class="form-control" id="validationCustom02" placeholder="Sensor"  required="">

                                                                </div>
                                                                <div class="col-md-4 mb-3">
                                                                    <label for="validationCustomUsername">Tag name</label>
                                                                    <input type="text" class="form-control" id="validationCustomUsername" placeholder="Tag name" aria-describedby="inputGroupPrepend" required="">


                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom03">Location name</label>
                                                                    <input type="text" class="form-control" id="validationCustom03" placeholder="City" required="">

                                                                </div>
                                                                <div class="col-md-3 mb-3">
                                                                    <label for="validationCustom04">Longitude</label>
                                                                    <input type="text" class="form-control" id="validationCustom04" placeholder="Long" required="">
                                                                    <div class="invalid-feedback">
                                                                        Please provide a valid state.
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 mb-3">
                                                                    <label for="validationCustom05">Latitude</label>
                                                                    <input type="text" class="form-control" id="validationCustom05" placeholder="Lat" required="">

                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom03">Address</label>
                                                                    <input type="text" class="form-control" id="validationCustom06" placeholder="Address" required="">

                                                                </div>
                                                                <div class="col-md-3 mb-3">
                                                                    <label for="validationCustom04">Premise</label>
                                                                    <input type="text" class="form-control" id="validationCustom07" placeholder="premise" required="">

                                                                </div>

                                                            </div>
                                                            <button class="btn btn-primary" type="submit">Save changes</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                    </div>





            </div>


            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                All Rights Reserved by Cloudatik. Designed</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'blog/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'blog/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'blog/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="{% static 'blog/js/app-style-switcher.js' %}"></script>
    <script src="{% static 'blog/js/feather.min.js' %}"></script>
    <script src="{% static 'blog/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'blog/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <script src="{% static 'blog/assets/extra-libs/c3/d3.min.js' %}"></script>
    <script src="{% static 'blog/assets/extra-libs/c3/c3.min.js' %}"></script>
    <script src="{% static 'blog/assets/libs/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'blog/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'blog/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'blog/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'blog/js/pages/dashboards/dashboard1.min.js' %}"></script>
    <script src="{% static 'blog/js/steelseries.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script src="{%  static 'blog/assetsLogin_user/js/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/metisMenu.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/jquery.slicknav.min.js' %}"></script>


    <!-- others plugins -->
    <script src="{%  static 'blog/assetsLogin_user/js/plugins.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/scripts.js' %}"></script>

<script type="text/javascript">
    $( document ).ready(function() {
            var mySlider1 = new rSlider({
    target: '#slider',
    values: [190, 195, 200, 205, 210, 215, 220, 225],
    range: true // range slider
});
    var mySlider2 = new rSlider({
    target: '#slider2',
    values: [190, 195, 200, 205, 210, 215, 220, 225],
    range: true // range slider
});
});

</script>

</body>

</html>
