{% extends "blog/index.html" %}

{% block content %}
{% load static %}
<section id="section_Dashboard" style="display:block;">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h3 id="salutation" class="page-title text-truncate text-dark font-weight-medium mb-1 salutation"></h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item active" onClick="section_dashboard()" aria-current="page"><a href="#">Dashboard</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-5 align-self-center">
                        <div class="customize-input float-right">
                            <div id="currentDate" class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius dateBadge"></div>
                        </div>
                    </div>
                </div>
            </div>

              <div class="row" style="margin-bottom: 10px; margin-top:10px;">
                <div class="col-md-12 text-center">
                  <div class="btn-group" role="group" aria-label="DashLayout">
                    <button id="dashGrid" onclick="dashLayout();" type="button" class="btn btn-secondary">Grid</button>
                    <button id="dashMap" onclick="mapClickEvent();" type="button" class="btn btn-secondary">Map</button>
                  </div>
                </div>
              </div>

            <div id="dashboard-content" class="container-fluid dashboard-content">


              <div id="spinnerMain" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

              <div class="card-group" id="nodesList">
                <!--
                {% for node in nodes.node %}
                <div id="{{node.device_id}}"class="card border-success mb-3 node {{node.serial}}" style="max-width: 18rem;">
                  <div class="card-header bg-transparent border-success first" onclick="section_node(this)">{{node.tag}} <br> <p style="font-size:11px; color: black; margin-top:1px; margin-bottom:0;">{{node.serial}}</p></div>
                  <div class="card-body text-dark float-right">
                    <canvas id="canvasLed_{{node.serial}}" class="leds" width="25" height="25"></canvas>
                    <a href="" class="float-right mr-1" data-toggle="popover" data-placement="bottom" data-content="Node Configurations"><i data-feather="settings" class="feather-icon"></i></a>
                    {% if nodes.alarm == 'true' %}
                      <a href="#" class="float-right mr-3" data-toggle="popover" data-placement="bottom" data-content="Alarm History"><i data-feather="clock" class="feather-icon"></i></a>
                    {% endif %}
                    <a href="#" class="float-right mr-3" data-toggle="popover" data-placement="bottom" data-content="Charts"><i data-feather="bar-chart-2" class="feather-icon"></i></a>
                    {% if node.remote == 'true' %}
                      <a href="#" class="float-right mr-3" data-toggle="popover" data-placement="bottom" data-content="Remote Control"><i data-feather="sliders" class="feather-icon"></i></a>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}-->






              </div>


            </div>

            <div id="map-content" class="container-fluid map-content" style="display:none;">

               <div id="mapSpinner" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
               <div id="mapWrapper" style="display:block;">
                  <div id="map" style="height:400px;">

                  </div>
               </div>

            </div>

</section>

<div id="secondLayer">

</div>
<!--
{% for node in nodes.node %}
<section id="section_{{node.device_id}}" class="sectionNode" style="display:none;">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Good Morning Bekzat!</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item" onClick="section_dashboard()"><a href="#" class="zero">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active " aria-current="page"><a href="#" class="first">{{node.serial}}</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-5 align-self-center">
                        <div class="customize-input float-right">
                            <div class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">Jul 07</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid first-section" style="margin-top: 15px;">
              <div class="d-flex flex-row justify-content-between">
                <div class="blabla ">
                  <nav class="navbar navbar-expand-lg navbar-light float-right" style="margin-bottom:25px;">
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item ">
                        <a class="nav-link"><canvas id="dashboardLed_{{node.serial}}" class="leds" width="25" height="25"></canvas></a>
                      </li>
                      <li class="nav-item">
                        <p class="nav-link" id="lastUpdate_{{ node.serial }}" style="color: black; font-size: 15px; font-weight: 100;">Last update: </p>
                      </li>
                    </ul>
                  </div>
                </nav>
                </div>

                <div class="">
                  <nav class="navbar navbar-expand-lg navbar-light float-right" style="margin-bottom:25px;">

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      {% if node.remote == 'true' %}
                        <li class="nav-item ">
                          <a class="nav-link" href="#">Remote Control</a>
                        </li>
                      {% endif %}
                      <li onClick="sectionNodeLinks('{{node.device_id}}', 'charts'); loadChartsLink('{{node.device_id}}');" class="nav-item">
                        <a class="nav-link" href="#">Retrieve Charts</a>
                      </li>
                      {% if nodes.raw_data == 'true' %}
                        <li onClick="sectionNodeLinks('{{node.device_id}}', 'rawData')" class="nav-item">
                          <a class="nav-link" href="#">Raw Data</a>
                        </li>
                      {% endif %}
                      {% if nodes.alarm == 'true' %}
                        <li onClick="sectionNodeLinks('{{node.device_id}}', 'alarmHistory'); loadAlarmHistoryLink('{{node.device_id}}');" class="nav-item">
                          <a class="nav-link" href="#">Alarm History</a>
                        </li>
                      {% endif %}
                      <li class="nav-item">
                        <a class="nav-link" href="/configurations/">Configurations</a>
                      </li>
                    </ul>
                  </div>
                </nav>
                </div>


              </div>

            <section id="section_{{node.device_id}}_dashboard">
              <div id="spinner_{{node.device_id}}" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              <div id="{{node.serial}}-parameters" class="container parameters" style="">


              </div>

              {% if nodes.alarm == 'true' %}
                  <div id="alarm_{{node.device_id}}" class="container" style="width:100%; margin-top:70px;">
                      <h1>New Alarm</h1>
                      <table id="alarmTable_{{node.device_id}}" class="table">
                        <thead>
                          <tr>
                            <th scope="col">Serial</th>
                            <th scope="col">Parameter</th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">Value</th>
                            <th scope="col">Lower Limit</th>
                            <th scope="col">Upper Limit</th>
                            <th scope="col">Remove</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                  </div>
                {% endif %}
                <div class="container" style=" position: relative; width:80%; height: 80vh; margin-top:70px;">

                  <canvas id="consumChart"></canvas>
                </div>
            </section>

            <section id="section_{{node.device_id}}_alarmHistory" class="sectionNodeLinks" style="display:none;">

               <div id="alarmHistory_{{node.device_id}}" class="container" style="width:100%; margin-top:10px;">
                      <h1>Alarm History</h1>
                      <table id="alarmHistoryTable_{{node.device_id}}" class="table">
                        <thead>
                          <tr>
                            <th scope="col">Alarm Time</th>
                            <th scope="col">Serial</th>
                            <th scope="col">Parameter</th>
                            <th scope="col">Value</th>
                            <th scope="col">Lower Limit</th>
                            <th scope="col">Upper Limit</th>
                            <th scope="col">Acknowledged By</th>
                            <th scope="col">Acknowledged Time</th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                      <div id="spinnerAlarmHistory_{{node.device_id}}" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                  </div>
            </section>

            <section id="section_{{node.device_id}}_rawData" class="sectionNodeLinks" style="display:none;">
               <h1>rawData</h1>
            </section>

            <section id="section_{{node.device_id}}_charts" class="sectionNodeLinks" style="display:none;">
              <div class="wrapperForCharts" style="display:flex;">
                <div id="chartController_{{node.device_id}}" style="margin: 0; width:30%;">
                  <form id="chartForm_{{node.device_id}}">
                    <h5>Chart title:</h5>
                    <div id="chartParameters_{{node.device_id}}" style="margin-bottom: 20px; margin-left: 30px;">

                    </div>

                    <div id="chartInputs">
                      <div class="container">
                            <div class="row">
                              <div class="col-sm-6">
                                <label for="startDate">Start Date</label>
                              </div>
                            </div>
                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='startChartDate_{{node.device_id}}'>

                                            <input type='text' name="startDateInput_{{node.device_id}}" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                      </div>

                      <div class="container">
                            <div class="row">
                              <div class="col-sm-6">
                                <label for="endDate">End Date</label>
                              </div>
                            </div>
                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='endChartDate_{{node.device_id}}'>

                                            <input type='text' name="endDateInput_{{node.device_id}}" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                      <div class="form-check" style="display: flex;">
                        <button type="button" id="btnRetrieveChart_{{node.device_id}}" onclick="retrieveChart('{{node.device_id}}')" class="btn btn-primary" style="margin-top:5px;">Retrieve</button>
                        <p id="errorMessage_{{node.device_id}}"style="color:red; font-size:13px; margin:5px; "></p>
                      </div>
                    </div>



                  </form>
                </div>

                <div style="flex:1;" >
                  <div id="spinnerRetrieveCharts_{{node.device_id}}" class=""><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                  <div id="canvasWrapper_{{node.device_id}}">
                    <canvas id="retrievedChart_{{node.device_id}}"></canvas>
                  </div>

                </div>
              </div>




            </section>



            </div>


</section>
{% endfor %}-->
<script src="{% static 'blog/assets/libs/jquery/dist/jquery.min.js' %}"></script>
<script>

  /*$('document').ready(function(){

    var reg_nodes = {{ nodes.node | safe }};

  for(var i=0; i< reg_nodes.length; i++){

    if(moment(reg_nodes[i].last_update).format() < moment().subtract(10,'minutes').format()){
       setLED('canvasLed_'+ reg_nodes[i].serial, false);
       setLED('dashboardLed_'+ reg_nodes[i].serial, false);
    }else{
       setLED('canvasLed_'+ reg_nodes[i].serial, true);
       setLED('dashboardLed_'+ reg_nodes[i].serial, true);
    }
  }

  });*/




</script>
{% endblock content %}
