{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register Node</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{%  static 'blog/assetsLogin_user/images/icon/favicon.ico' %}">

    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/slicknav.min.css' %}">

    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/typography.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/default-css.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/styles.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/assetsLogin_user/css/responsive.css' %}">
    <link href="{% static 'blog/css/spinner.css' %}" rel="stylesheet">

    <!-- modernizr css -->
    <script src="{%  static 'blog/assetsLogin_user/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--100">
                <form id="registerNode" method="post">
                    {% csrf_token %}
                    <div class="login-form-head">
                        <h4>Register Node</h4>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="serial"></label>
                            <input name = "serial" type="text" id="serial" readonly value="{{serial}}">
                            <i class="ti-info-alt"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <label for="username">Username</label>
                            <input name="username" type="text" id="username" required>
                            <i class="ti-user"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <label for="password">Password</label>
                            <input name="password" type="password" id="pass" required>
                            <i class="ti-lock"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div id="nodeAddSuccess" class="alert alert-success fade-in" style="display:none;" role="alert"></div>
                        <div id="nodeAddFail" class="alert alert-danger fade-in" style="display:none;" role="alert"></div>

                        <div id="spinnerWait" class=""><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

                        <div id="submitArea" class="submit-btn-area">
                            <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Don't have an account? <a href="/register/">Sign up</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="{%  static 'blog/assetsLogin_user/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{%  static 'blog/assetsLogin_user/js/popper.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/bootstrap.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/metisMenu.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/jquery.slicknav.min.js' %}"></script>


    <!-- others plugins -->
    <script src="{%  static 'blog/assetsLogin_user/js/plugins.js' %}"></script>
    <script src="{%  static 'blog/assetsLogin_user/js/scripts.js' %}"></script>

    <script type="text/javascript">
        var serial = '{{serial}}';
        $('#registerNode').on('submit', function(event){
            event.preventDefault();
            var spinnerWait = document.getElementById('spinnerWait');
             spinnerWait.classList.add('lds-roller');
             $('#submitArea').hide();
            $('#nodeAddSuccess').css('display', 'none');
            $('#nodeAddFail').css('display', 'none');
            $('#form_submit').attr('disabled', true);
            var username = $('[name=username]').val();
            var password = $('[name=password]').val();
            var serial = $('[name=serial]').val();

            var data = {"serial": serial, "username": username, "password":password};
            $.ajax({
                type: "POST",
                url: 'https://api.cl-ds.com/registerNode/',
                headers: {"Authorization": "Token 62990ac3b609e5601a678c1e133416e6da7f10db"},
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(dataRcvd){
                    var spinnerWait = document.getElementById('spinnerWait');
                    spinnerWait.classList.remove('lds-roller');
                    $('#submitArea').show();
                    if(data.success){
                        $('#nodeAddSuccess').css('display', 'block');
                        $('#nodeAddSuccess').html(dataRcvd.message);
                        $('#form_submit').attr('disabled', false);
                    }else{
                        $('#nodeAddFail').css('display', 'block');
                        $('#nodeAddFail').html(dataRcvd.message);
                        $('#form_submit').attr('disabled', false);
                    }

                },
                error: function(request, status, error){
                    console.log(error);
                    $('#submitArea').show();
                    var spinnerWait = document.getElementById('spinnerWait');
                    spinnerWait.classList.remove('lds-roller');
                    $('#nodeAddFail').css('display', 'block');
                    $('#nodeAddFail').html(request.responseJSON.message);
                    $('#form_submit').attr('disabled', false);
                }
            });
        });
    </script>
</body>

</html>
